NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/ev_isleri_takip
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=erhan.koksal@gmail.com
EMAIL_PASSWORD=zkjq dedv anmd eplg
EMAIL_FROM=noreply@ev-isleri-takip.com

# Frontend URL for email links
FRONTEND_URL=http://localhost:3000
